.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
    background-color: black;
    color: white;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    list-style: none;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}
.nav-item{
    cursor: pointer;
    color: white;
}
.nav-acct{
    cursor: pointer;
    color: white;
    margin-right: 20px;
}
.nav-acct:hover{
    color: orange;
}
.nav-item:hover{
    color: orange;
}
.nav-img:hover{
    content: url('/public/orangeLogo.png');
    width: 50px;
    height: auto;
    margin-left: 10px;
}
.search-btn{
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 2px 6px;
    margin-left: 3px;
}
#dropdown-products{
    background-color: black;
    color: white;
    border: none;
    margin-right: -5px;
}
#dropdown-products:hover{
    color: orange;
}
.menu-list .dropdown-item:hover{
    color: orange;
}

.search-input{
    width: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.search-input:focus{
    outline: none;
    /* border: 2px solid orange; */
    box-shadow: 0 0 8px orange;
}
 .logo{
    width: 50px;
    height: auto;
    margin-left: 10px;
}
#dropdown-account{
    background-color: black;
    color: white;
    border: none;
}
#dropdown-account:hover{
    color: orange;
}